--
-- PostgreSQL database dump
--

\restrict BfKI9W0j4VBnt2eTRsy5gJHzTa5VKCGY9jXNRVUsYNbgxne290aDaC7ZPUsEPTE

-- Dumped from database version 16.13 (Debian 16.13-1.pgdg13+1)
-- Dumped by pg_dump version 16.13 (Debian 16.13-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: banks; Type: TABLE; Schema: public; Owner: floor21_user
--

CREATE TABLE public.banks (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    builder_id uuid NOT NULL,
    bank_name character varying(200) NOT NULL,
    branch character varying(200),
    ifsc_code character varying(20),
    account_number character varying(64),
    account_holder_name character varying(200),
    notes text,
    active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.banks OWNER TO floor21_user;

--
-- Name: booking_payment_slabs; Type: TABLE; Schema: public; Owner: floor21_user
--

CREATE TABLE public.booking_payment_slabs (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    booking_id uuid NOT NULL,
    template_id uuid,
    sort_order integer NOT NULL,
    milestone_label character varying(800) NOT NULL,
    due_date date,
    percent numeric(9,4),
    extra_amount numeric(15,2) DEFAULT 0 NOT NULL,
    agreed_amount numeric(15,2),
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.booking_payment_slabs OWNER TO floor21_user;

--
-- Name: booking_slab_payments; Type: TABLE; Schema: public; Owner: floor21_user
--

CREATE TABLE public.booking_slab_payments (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    payment_slab_id uuid NOT NULL,
    payment_date date NOT NULL,
    amount numeric(15,2) NOT NULL,
    reference character varying(200),
    sort_order integer DEFAULT 0 NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    receipt_id uuid,
    CONSTRAINT chk_booking_slab_payments_amount CHECK ((amount > (0)::numeric))
);


ALTER TABLE public.booking_slab_payments OWNER TO floor21_user;

--
-- Name: bookings; Type: TABLE; Schema: public; Owner: floor21_user
--

CREATE TABLE public.bookings (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    builder_id uuid NOT NULL,
    booking_code character varying(30) NOT NULL,
    flat_id uuid NOT NULL,
    client_id uuid NOT NULL,
    broker_id uuid,
    executive_id uuid,
    file_no character varying(50),
    booking_date date NOT NULL,
    consideration_amt numeric(15,2) DEFAULT 0,
    scheme character varying(100),
    parking_info text,
    reference text,
    is_bare_flat boolean DEFAULT false,
    particulars text,
    status character varying(20) DEFAULT 'ACTIVE'::character varying,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    quoted_amount numeric(15,2),
    brokerage numeric(15,2) DEFAULT 0,
    tds numeric(15,2) DEFAULT 0,
    gst numeric(15,2) DEFAULT 0,
    final_amt numeric(15,2) DEFAULT 0,
    due_amount_date date,
    booking_intimation_date date,
    noc_request_date date,
    market_value numeric(15,2),
    stamp_duty_amount numeric(15,2),
    registration_amount numeric(15,2)
);


ALTER TABLE public.bookings OWNER TO floor21_user;

--
-- Name: brokers; Type: TABLE; Schema: public; Owner: floor21_user
--

CREATE TABLE public.brokers (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    builder_id uuid NOT NULL,
    full_name character varying(200) NOT NULL,
    phone character varying(20),
    email character varying(150),
    commission_pct numeric(5,2) DEFAULT 0,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.brokers OWNER TO floor21_user;

--
-- Name: builder_expenses; Type: TABLE; Schema: public; Owner: floor21_user
--

CREATE TABLE public.builder_expenses (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    builder_id uuid NOT NULL,
    expense_date date NOT NULL,
    description character varying(300) NOT NULL,
    category character varying(100),
    paid_to character varying(200),
    payment_mode character varying(50),
    amount numeric(15,2) NOT NULL,
    notes character varying(500),
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT builder_expenses_amount_positive CHECK ((amount > (0)::numeric))
);


ALTER TABLE public.builder_expenses OWNER TO floor21_user;

--
-- Name: builders; Type: TABLE; Schema: public; Owner: floor21_user
--

CREATE TABLE public.builders (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    company_name character varying(200) NOT NULL,
    email character varying(150) NOT NULL,
    password_hash character varying(255) NOT NULL,
    phone character varying(20),
    logo_url character varying(500),
    address text,
    city character varying(100),
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    is_platform_admin boolean DEFAULT false NOT NULL,
    vault_pin_hash character varying(255),
    expenses_pin_hash character varying(255),
    last_login_at timestamp without time zone,
    vault_enabled boolean DEFAULT false NOT NULL
);


ALTER TABLE public.builders OWNER TO floor21_user;

--
-- Name: buildings; Type: TABLE; Schema: public; Owner: floor21_user
--

CREATE TABLE public.buildings (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    builder_id uuid NOT NULL,
    building_name character varying(200) NOT NULL,
    total_floors integer NOT NULL,
    parking_floors integer DEFAULT 0,
    flats_per_floor integer NOT NULL,
    bhk1_per_floor integer DEFAULT 0,
    bhk2_per_floor integer DEFAULT 0,
    bhk3_per_floor integer DEFAULT 0,
    address text,
    city character varying(100),
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now(),
    floor_plan_1bhk character varying(500),
    floor_plan_2bhk character varying(500),
    floor_plan_3bhk character varying(500),
    vault_enabled boolean DEFAULT false NOT NULL
);


ALTER TABLE public.buildings OWNER TO floor21_user;

--
-- Name: cancellations; Type: TABLE; Schema: public; Owner: floor21_user
--

CREATE TABLE public.cancellations (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    builder_id uuid NOT NULL,
    booking_id uuid NOT NULL,
    cancel_date date NOT NULL,
    reason text,
    refund_amount numeric(15,2) DEFAULT 0,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.cancellations OWNER TO floor21_user;

--
-- Name: clients; Type: TABLE; Schema: public; Owner: floor21_user
--

CREATE TABLE public.clients (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    builder_id uuid NOT NULL,
    first_name character varying(100) NOT NULL,
    last_name character varying(100),
    company_name character varying(200),
    occupation character varying(100),
    address1 text,
    address2 text,
    address3 text,
    city character varying(100),
    phone_office character varying(20),
    phone_residence character varying(20),
    mobile1 character varying(20),
    mobile2 character varying(20),
    email1 character varying(150),
    email2 character varying(150),
    pan_number character varying(20),
    aadhaar_number character varying(20),
    dob date,
    date_of_marriage date,
    dnd_no_call boolean DEFAULT false,
    dnd_only_email boolean DEFAULT false,
    comm_address1 text,
    comm_address2 text,
    comm_address3 text,
    comm_city character varying(100),
    name_plate_info character varying(300),
    particulars text,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.clients OWNER TO floor21_user;

--
-- Name: extra_expenses; Type: TABLE; Schema: public; Owner: floor21_user
--

CREATE TABLE public.extra_expenses (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    builder_id uuid NOT NULL,
    booking_id uuid NOT NULL,
    description character varying(300),
    amount numeric(15,2),
    expense_date date,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.extra_expenses OWNER TO floor21_user;

--
-- Name: flats; Type: TABLE; Schema: public; Owner: floor21_user
--

CREATE TABLE public.flats (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    builder_id uuid NOT NULL,
    building_id uuid NOT NULL,
    flat_number character varying(20) NOT NULL,
    floor_number integer NOT NULL,
    unit_number integer NOT NULL,
    bhk_type character varying(10) NOT NULL,
    area_sqft numeric(10,2),
    base_price numeric(15,2),
    status character varying(20) DEFAULT 'AVAILABLE'::character varying,
    is_parking boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.flats OWNER TO floor21_user;

--
-- Name: flyway_schema_history; Type: TABLE; Schema: public; Owner: floor21_user
--

CREATE TABLE public.flyway_schema_history (
    installed_rank integer NOT NULL,
    version character varying(50),
    description character varying(200) NOT NULL,
    type character varying(20) NOT NULL,
    script character varying(1000) NOT NULL,
    checksum integer,
    installed_by character varying(100) NOT NULL,
    installed_on timestamp without time zone DEFAULT now() NOT NULL,
    execution_time integer NOT NULL,
    success boolean NOT NULL
);


ALTER TABLE public.flyway_schema_history OWNER TO floor21_user;

--
-- Name: partner_flat_assignments; Type: TABLE; Schema: public; Owner: floor21_user
--

CREATE TABLE public.partner_flat_assignments (
    user_id uuid NOT NULL,
    flat_id uuid NOT NULL,
    building_id uuid NOT NULL
);


ALTER TABLE public.partner_flat_assignments OWNER TO floor21_user;

--
-- Name: payment_slab_templates; Type: TABLE; Schema: public; Owner: floor21_user
--

CREATE TABLE public.payment_slab_templates (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    sort_order integer NOT NULL,
    milestone_label character varying(800) NOT NULL,
    suggested_percent numeric(9,4),
    active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    builder_id uuid NOT NULL,
    building_id uuid NOT NULL
);


ALTER TABLE public.payment_slab_templates OWNER TO floor21_user;

--
-- Name: platform_audit_log; Type: TABLE; Schema: public; Owner: floor21_user
--

CREATE TABLE public.platform_audit_log (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    actor_email character varying(150) NOT NULL,
    action character varying(100) NOT NULL,
    entity_type character varying(50),
    entity_id character varying(64),
    builder_id uuid,
    details text,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.platform_audit_log OWNER TO floor21_user;

--
-- Name: platform_settings; Type: TABLE; Schema: public; Owner: floor21_user
--

CREATE TABLE public.platform_settings (
    setting_key character varying(100) NOT NULL,
    setting_value text NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.platform_settings OWNER TO floor21_user;

--
-- Name: receipts; Type: TABLE; Schema: public; Owner: floor21_user
--

CREATE TABLE public.receipts (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    builder_id uuid NOT NULL,
    booking_id uuid NOT NULL,
    receipt_date date NOT NULL,
    amount numeric(15,2) NOT NULL,
    payment_mode character varying(50),
    cheque_no character varying(50),
    bank_name character varying(100),
    remarks text,
    created_at timestamp without time zone DEFAULT now(),
    receipt_number character varying(64),
    cheque_date date,
    amount_consideration numeric(15,2) DEFAULT 0 NOT NULL,
    amount_extra_charges numeric(15,2) DEFAULT 0 NOT NULL,
    amount_interest_agreement numeric(15,2) DEFAULT 0 NOT NULL,
    amount_interest_gst numeric(15,2) DEFAULT 0 NOT NULL,
    amount_tds numeric(15,2) DEFAULT 0 NOT NULL,
    amount_gst_component numeric(15,2) DEFAULT 0 NOT NULL,
    deposit_account character varying(200),
    dishonoured boolean DEFAULT false NOT NULL,
    entered_by_display character varying(200),
    receipt_serial integer NOT NULL,
    deposit_bank_id uuid,
    payment_slab_id uuid
);


ALTER TABLE public.receipts OWNER TO floor21_user;

--
-- Name: slabs; Type: TABLE; Schema: public; Owner: floor21_user
--

CREATE TABLE public.slabs (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    builder_id uuid NOT NULL,
    building_id uuid,
    slab_name character varying(100),
    description text,
    rate_per_sqft numeric(10,2),
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.slabs OWNER TO floor21_user;

--
-- Name: user_building_assignments; Type: TABLE; Schema: public; Owner: floor21_user
--

CREATE TABLE public.user_building_assignments (
    user_id uuid NOT NULL,
    building_id uuid NOT NULL
);


ALTER TABLE public.user_building_assignments OWNER TO floor21_user;

--
-- Name: user_building_vault_access; Type: TABLE; Schema: public; Owner: floor21_user
--

CREATE TABLE public.user_building_vault_access (
    user_id uuid NOT NULL,
    building_id uuid NOT NULL,
    enabled boolean DEFAULT true NOT NULL
);


ALTER TABLE public.user_building_vault_access OWNER TO floor21_user;

--
-- Name: users; Type: TABLE; Schema: public; Owner: floor21_user
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    builder_id uuid NOT NULL,
    full_name character varying(200) NOT NULL,
    email character varying(150) NOT NULL,
    password_hash character varying(255) NOT NULL,
    role character varying(50) NOT NULL,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now(),
    last_login_at timestamp without time zone,
    admin_visible_password character varying(255),
    vault_access_enabled boolean DEFAULT false NOT NULL
);


ALTER TABLE public.users OWNER TO floor21_user;

--
-- Name: vault_booking_profiles; Type: TABLE; Schema: public; Owner: floor21_user
--

CREATE TABLE public.vault_booking_profiles (
    booking_id uuid NOT NULL,
    builder_id uuid NOT NULL,
    total_consideration numeric(15,2),
    register_value numeric(15,2),
    extra_amount numeric(15,2),
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.vault_booking_profiles OWNER TO floor21_user;

--
-- Name: vault_entries; Type: TABLE; Schema: public; Owner: floor21_user
--

CREATE TABLE public.vault_entries (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    builder_id uuid NOT NULL,
    client_name character varying(200) NOT NULL,
    amount numeric(15,2) NOT NULL,
    entry_date date NOT NULL,
    notes text,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    flat_number character varying(50),
    payment_mode character varying(30),
    booking_id uuid,
    payment_slab_id uuid,
    entry_type character varying(20) DEFAULT 'INCOME'::character varying NOT NULL,
    CONSTRAINT vault_entries_amount_positive CHECK ((amount > (0)::numeric))
);


ALTER TABLE public.vault_entries OWNER TO floor21_user;

--
-- Data for Name: banks; Type: TABLE DATA; Schema: public; Owner: floor21_user
--

COPY public.banks (id, builder_id, bank_name, branch, ifsc_code, account_number, account_holder_name, notes, active, created_at, updated_at) FROM stdin;
39dcb7f4-8aaa-4d64-b13b-21c6d847bb87	c758adde-6be3-4337-b6e5-ba6bfb4a2083	icicibank	vashi	icic00001	423432432423	pankaj gupta		t	2026-05-15 05:06:13.768629	2026-05-15 05:06:13.768629
\.


--
-- Data for Name: booking_payment_slabs; Type: TABLE DATA; Schema: public; Owner: floor21_user
--



--
-- Data for Name: booking_slab_payments; Type: TABLE DATA; Schema: public; Owner: floor21_user
--

COPY public.booking_slab_payments (id, payment_slab_id, payment_date, amount, reference, sort_order, created_at, updated_at, receipt_id) FROM stdin;
\.


--
-- Data for Name: bookings; Type: TABLE DATA; Schema: public; Owner: floor21_user
--



--
-- Data for Name: brokers; Type: TABLE DATA; Schema: public; Owner: floor21_user
--

COPY public.brokers (id, builder_id, full_name, phone, email, commission_pct, is_active, created_at) FROM stdin;
4eb427e6-3cf7-44ef-9427-0266dd598a9a	c758adde-6be3-4337-b6e5-ba6bfb4a2083	Prime Realty Brokers	0224000000	desk@primerealty.com	2.50	t	2026-05-13 00:18:28.280334
\.


--
-- Data for Name: builder_expenses; Type: TABLE DATA; Schema: public; Owner: floor21_user
--

COPY public.builder_expenses (id, builder_id, expense_date, description, category, paid_to, payment_mode, amount, notes, created_at) FROM stdin;
\.


--
-- Data for Name: builders; Type: TABLE DATA; Schema: public; Owner: floor21_user
--



--
-- Data for Name: buildings; Type: TABLE DATA; Schema: public; Owner: floor21_user
--



--
-- Data for Name: cancellations; Type: TABLE DATA; Schema: public; Owner: floor21_user
--

COPY public.cancellations (id, builder_id, booking_id, cancel_date, reason, refund_amount, created_at) FROM stdin;
\.


--
-- Data for Name: clients; Type: TABLE DATA; Schema: public; Owner: floor21_user
--



--
-- Data for Name: extra_expenses; Type: TABLE DATA; Schema: public; Owner: floor21_user
--

COPY public.extra_expenses (id, builder_id, booking_id, description, amount, expense_date, created_at) FROM stdin;
\.


--
-- Data for Name: flats; Type: TABLE DATA; Schema: public; Owner: floor21_user
--



--
-- Data for Name: flyway_schema_history; Type: TABLE DATA; Schema: public; Owner: floor21_user
--



--
-- Data for Name: partner_flat_assignments; Type: TABLE DATA; Schema: public; Owner: floor21_user
--



--
-- Data for Name: payment_slab_templates; Type: TABLE DATA; Schema: public; Owner: floor21_user
--



--
-- Data for Name: platform_audit_log; Type: TABLE DATA; Schema: public; Owner: floor21_user
--



--
-- Data for Name: platform_settings; Type: TABLE DATA; Schema: public; Owner: floor21_user
--

COPY public.platform_settings (setting_key, setting_value, updated_at) FROM stdin;
default_vault_enabled	true	2026-05-17 17:16:54.350727
default_expenses_enabled	true	2026-05-17 17:16:54.350727
default_receipt_prefix	RCP	2026-05-17 17:16:54.350727
support_email	support@floor21.com	2026-05-17 17:16:54.350727
\.


--
-- Data for Name: receipts; Type: TABLE DATA; Schema: public; Owner: floor21_user
--



--
-- Data for Name: slabs; Type: TABLE DATA; Schema: public; Owner: floor21_user
--

COPY public.slabs (id, builder_id, building_id, slab_name, description, rate_per_sqft, is_active, created_at) FROM stdin;
4265038b-54d5-4987-8446-1ccca542e7f6	79728d06-f0b0-44ce-9507-c7e7a6c0e31d	\N	Initial booking amount		\N	t	2026-05-13 19:51:14.847801
\.


--
-- Data for Name: user_building_assignments; Type: TABLE DATA; Schema: public; Owner: floor21_user
--

COPY public.user_building_assignments (user_id, building_id) FROM stdin;
\.


--
-- Data for Name: user_building_vault_access; Type: TABLE DATA; Schema: public; Owner: floor21_user
--

COPY public.user_building_vault_access (user_id, building_id, enabled) FROM stdin;
eeb08559-a5b2-474b-a7e2-2272dd65770b	e2ae23e0-5751-4d07-a760-43da1937d38f	t
eeb08559-a5b2-474b-a7e2-2272dd65770b	6db06076-44e6-4dae-bd17-6bca0e5f9efa	t
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: floor21_user
--



--
-- Data for Name: vault_booking_profiles; Type: TABLE DATA; Schema: public; Owner: floor21_user
--

COPY public.vault_booking_profiles (booking_id, builder_id, total_consideration, register_value, extra_amount, updated_at) FROM stdin;
16afe811-6cb8-4d06-897f-a8a534afc8a0	c758adde-6be3-4337-b6e5-ba6bfb4a2083	13400000.00	8000000.00	5400000.00	2026-05-16 21:49:08.171403
\.


--
-- Data for Name: vault_entries; Type: TABLE DATA; Schema: public; Owner: floor21_user
--



--
-- Name: banks banks_pkey; Type: CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.banks
    ADD CONSTRAINT banks_pkey PRIMARY KEY (id);


--
-- Name: booking_payment_slabs booking_payment_slabs_pkey; Type: CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.booking_payment_slabs
    ADD CONSTRAINT booking_payment_slabs_pkey PRIMARY KEY (id);


--
-- Name: booking_slab_payments booking_slab_payments_pkey; Type: CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.booking_slab_payments
    ADD CONSTRAINT booking_slab_payments_pkey PRIMARY KEY (id);


--
-- Name: bookings bookings_booking_code_key; Type: CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT bookings_booking_code_key UNIQUE (booking_code);


--
-- Name: bookings bookings_pkey; Type: CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT bookings_pkey PRIMARY KEY (id);


--
-- Name: brokers brokers_pkey; Type: CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.brokers
    ADD CONSTRAINT brokers_pkey PRIMARY KEY (id);


--
-- Name: builder_expenses builder_expenses_pkey; Type: CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.builder_expenses
    ADD CONSTRAINT builder_expenses_pkey PRIMARY KEY (id);


--
-- Name: builders builders_email_key; Type: CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.builders
    ADD CONSTRAINT builders_email_key UNIQUE (email);


--
-- Name: builders builders_pkey; Type: CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.builders
    ADD CONSTRAINT builders_pkey PRIMARY KEY (id);


--
-- Name: buildings buildings_pkey; Type: CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.buildings
    ADD CONSTRAINT buildings_pkey PRIMARY KEY (id);


--
-- Name: cancellations cancellations_pkey; Type: CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.cancellations
    ADD CONSTRAINT cancellations_pkey PRIMARY KEY (id);


--
-- Name: clients clients_pkey; Type: CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.clients
    ADD CONSTRAINT clients_pkey PRIMARY KEY (id);


--
-- Name: extra_expenses extra_expenses_pkey; Type: CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.extra_expenses
    ADD CONSTRAINT extra_expenses_pkey PRIMARY KEY (id);


--
-- Name: flats flats_building_id_flat_number_key; Type: CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.flats
    ADD CONSTRAINT flats_building_id_flat_number_key UNIQUE (building_id, flat_number);


--
-- Name: flats flats_pkey; Type: CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.flats
    ADD CONSTRAINT flats_pkey PRIMARY KEY (id);


--
-- Name: flyway_schema_history flyway_schema_history_pk; Type: CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.flyway_schema_history
    ADD CONSTRAINT flyway_schema_history_pk PRIMARY KEY (installed_rank);


--
-- Name: partner_flat_assignments partner_flat_assignments_pkey; Type: CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.partner_flat_assignments
    ADD CONSTRAINT partner_flat_assignments_pkey PRIMARY KEY (user_id, flat_id);


--
-- Name: payment_slab_templates payment_slab_templates_pkey; Type: CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.payment_slab_templates
    ADD CONSTRAINT payment_slab_templates_pkey PRIMARY KEY (id);


--
-- Name: platform_audit_log platform_audit_log_pkey; Type: CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.platform_audit_log
    ADD CONSTRAINT platform_audit_log_pkey PRIMARY KEY (id);


--
-- Name: platform_settings platform_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.platform_settings
    ADD CONSTRAINT platform_settings_pkey PRIMARY KEY (setting_key);


--
-- Name: receipts receipts_booking_serial_uq; Type: CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.receipts
    ADD CONSTRAINT receipts_booking_serial_uq UNIQUE (booking_id, receipt_serial);


--
-- Name: receipts receipts_pkey; Type: CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.receipts
    ADD CONSTRAINT receipts_pkey PRIMARY KEY (id);


--
-- Name: slabs slabs_pkey; Type: CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.slabs
    ADD CONSTRAINT slabs_pkey PRIMARY KEY (id);


--
-- Name: partner_flat_assignments uq_partner_flat_assignments_flat; Type: CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.partner_flat_assignments
    ADD CONSTRAINT uq_partner_flat_assignments_flat UNIQUE (flat_id);


--
-- Name: user_building_assignments user_building_assignments_pkey; Type: CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.user_building_assignments
    ADD CONSTRAINT user_building_assignments_pkey PRIMARY KEY (user_id, building_id);


--
-- Name: user_building_vault_access user_building_vault_access_pkey; Type: CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.user_building_vault_access
    ADD CONSTRAINT user_building_vault_access_pkey PRIMARY KEY (user_id, building_id);


--
-- Name: users users_builder_id_email_key; Type: CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_builder_id_email_key UNIQUE (builder_id, email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: vault_booking_profiles vault_booking_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.vault_booking_profiles
    ADD CONSTRAINT vault_booking_profiles_pkey PRIMARY KEY (booking_id);


--
-- Name: vault_entries vault_entries_pkey; Type: CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.vault_entries
    ADD CONSTRAINT vault_entries_pkey PRIMARY KEY (id);


--
-- Name: flyway_schema_history_s_idx; Type: INDEX; Schema: public; Owner: floor21_user
--

CREATE INDEX flyway_schema_history_s_idx ON public.flyway_schema_history USING btree (success);


--
-- Name: idx_banks_builder; Type: INDEX; Schema: public; Owner: floor21_user
--

CREATE INDEX idx_banks_builder ON public.banks USING btree (builder_id);


--
-- Name: idx_booking_payment_slabs_booking; Type: INDEX; Schema: public; Owner: floor21_user
--

CREATE INDEX idx_booking_payment_slabs_booking ON public.booking_payment_slabs USING btree (booking_id);


--
-- Name: idx_booking_slab_payments_date; Type: INDEX; Schema: public; Owner: floor21_user
--

CREATE INDEX idx_booking_slab_payments_date ON public.booking_slab_payments USING btree (payment_slab_id, payment_date);


--
-- Name: idx_booking_slab_payments_receipt; Type: INDEX; Schema: public; Owner: floor21_user
--

CREATE INDEX idx_booking_slab_payments_receipt ON public.booking_slab_payments USING btree (receipt_id);


--
-- Name: idx_booking_slab_payments_slab; Type: INDEX; Schema: public; Owner: floor21_user
--

CREATE INDEX idx_booking_slab_payments_slab ON public.booking_slab_payments USING btree (payment_slab_id);


--
-- Name: idx_builder_expenses_builder_date; Type: INDEX; Schema: public; Owner: floor21_user
--

CREATE INDEX idx_builder_expenses_builder_date ON public.builder_expenses USING btree (builder_id, expense_date DESC);


--
-- Name: idx_partner_flat_assignments_building; Type: INDEX; Schema: public; Owner: floor21_user
--

CREATE INDEX idx_partner_flat_assignments_building ON public.partner_flat_assignments USING btree (building_id);


--
-- Name: idx_partner_flat_assignments_user_building; Type: INDEX; Schema: public; Owner: floor21_user
--

CREATE INDEX idx_partner_flat_assignments_user_building ON public.partner_flat_assignments USING btree (user_id, building_id);


--
-- Name: idx_payment_slab_templates_active; Type: INDEX; Schema: public; Owner: floor21_user
--

CREATE INDEX idx_payment_slab_templates_active ON public.payment_slab_templates USING btree (active);


--
-- Name: idx_payment_slab_templates_builder; Type: INDEX; Schema: public; Owner: floor21_user
--

CREATE INDEX idx_payment_slab_templates_builder ON public.payment_slab_templates USING btree (builder_id);


--
-- Name: idx_payment_slab_templates_building; Type: INDEX; Schema: public; Owner: floor21_user
--

CREATE INDEX idx_payment_slab_templates_building ON public.payment_slab_templates USING btree (building_id);


--
-- Name: idx_payment_slab_templates_sort; Type: INDEX; Schema: public; Owner: floor21_user
--

CREATE INDEX idx_payment_slab_templates_sort ON public.payment_slab_templates USING btree (sort_order);


--
-- Name: idx_platform_audit_builder; Type: INDEX; Schema: public; Owner: floor21_user
--

CREATE INDEX idx_platform_audit_builder ON public.platform_audit_log USING btree (builder_id);


--
-- Name: idx_platform_audit_created; Type: INDEX; Schema: public; Owner: floor21_user
--

CREATE INDEX idx_platform_audit_created ON public.platform_audit_log USING btree (created_at DESC);


--
-- Name: idx_receipts_deposit_bank; Type: INDEX; Schema: public; Owner: floor21_user
--

CREATE INDEX idx_receipts_deposit_bank ON public.receipts USING btree (deposit_bank_id);


--
-- Name: idx_receipts_payment_slab; Type: INDEX; Schema: public; Owner: floor21_user
--

CREATE INDEX idx_receipts_payment_slab ON public.receipts USING btree (payment_slab_id);


--
-- Name: idx_user_building_assignments_building; Type: INDEX; Schema: public; Owner: floor21_user
--

CREATE INDEX idx_user_building_assignments_building ON public.user_building_assignments USING btree (building_id);


--
-- Name: idx_vault_booking_profiles_builder; Type: INDEX; Schema: public; Owner: floor21_user
--

CREATE INDEX idx_vault_booking_profiles_builder ON public.vault_booking_profiles USING btree (builder_id);


--
-- Name: idx_vault_entries_booking_date; Type: INDEX; Schema: public; Owner: floor21_user
--

CREATE INDEX idx_vault_entries_booking_date ON public.vault_entries USING btree (booking_id, entry_date DESC);


--
-- Name: idx_vault_entries_booking_type_date; Type: INDEX; Schema: public; Owner: floor21_user
--

CREATE INDEX idx_vault_entries_booking_type_date ON public.vault_entries USING btree (booking_id, entry_type, entry_date DESC);


--
-- Name: idx_vault_entries_builder_date; Type: INDEX; Schema: public; Owner: floor21_user
--

CREATE INDEX idx_vault_entries_builder_date ON public.vault_entries USING btree (builder_id, entry_date DESC);


--
-- Name: idx_vault_entries_payment_slab; Type: INDEX; Schema: public; Owner: floor21_user
--

CREATE INDEX idx_vault_entries_payment_slab ON public.vault_entries USING btree (payment_slab_id);


--
-- Name: banks banks_builder_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.banks
    ADD CONSTRAINT banks_builder_id_fkey FOREIGN KEY (builder_id) REFERENCES public.builders(id);


--
-- Name: booking_payment_slabs booking_payment_slabs_booking_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.booking_payment_slabs
    ADD CONSTRAINT booking_payment_slabs_booking_id_fkey FOREIGN KEY (booking_id) REFERENCES public.bookings(id) ON DELETE CASCADE;


--
-- Name: booking_payment_slabs booking_payment_slabs_template_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.booking_payment_slabs
    ADD CONSTRAINT booking_payment_slabs_template_id_fkey FOREIGN KEY (template_id) REFERENCES public.payment_slab_templates(id) ON DELETE SET NULL;


--
-- Name: booking_slab_payments booking_slab_payments_payment_slab_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.booking_slab_payments
    ADD CONSTRAINT booking_slab_payments_payment_slab_id_fkey FOREIGN KEY (payment_slab_id) REFERENCES public.booking_payment_slabs(id) ON DELETE CASCADE;


--
-- Name: booking_slab_payments booking_slab_payments_receipt_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.booking_slab_payments
    ADD CONSTRAINT booking_slab_payments_receipt_id_fkey FOREIGN KEY (receipt_id) REFERENCES public.receipts(id) ON DELETE CASCADE;


--
-- Name: bookings bookings_broker_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT bookings_broker_id_fkey FOREIGN KEY (broker_id) REFERENCES public.brokers(id);


--
-- Name: bookings bookings_builder_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT bookings_builder_id_fkey FOREIGN KEY (builder_id) REFERENCES public.builders(id);


--
-- Name: bookings bookings_client_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT bookings_client_id_fkey FOREIGN KEY (client_id) REFERENCES public.clients(id);


--
-- Name: bookings bookings_executive_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT bookings_executive_id_fkey FOREIGN KEY (executive_id) REFERENCES public.users(id);


--
-- Name: bookings bookings_flat_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT bookings_flat_id_fkey FOREIGN KEY (flat_id) REFERENCES public.flats(id);


--
-- Name: brokers brokers_builder_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.brokers
    ADD CONSTRAINT brokers_builder_id_fkey FOREIGN KEY (builder_id) REFERENCES public.builders(id);


--
-- Name: builder_expenses builder_expenses_builder_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.builder_expenses
    ADD CONSTRAINT builder_expenses_builder_id_fkey FOREIGN KEY (builder_id) REFERENCES public.builders(id);


--
-- Name: buildings buildings_builder_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.buildings
    ADD CONSTRAINT buildings_builder_id_fkey FOREIGN KEY (builder_id) REFERENCES public.builders(id);


--
-- Name: cancellations cancellations_booking_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.cancellations
    ADD CONSTRAINT cancellations_booking_id_fkey FOREIGN KEY (booking_id) REFERENCES public.bookings(id);


--
-- Name: cancellations cancellations_builder_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.cancellations
    ADD CONSTRAINT cancellations_builder_id_fkey FOREIGN KEY (builder_id) REFERENCES public.builders(id);


--
-- Name: clients clients_builder_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.clients
    ADD CONSTRAINT clients_builder_id_fkey FOREIGN KEY (builder_id) REFERENCES public.builders(id);


--
-- Name: extra_expenses extra_expenses_booking_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.extra_expenses
    ADD CONSTRAINT extra_expenses_booking_id_fkey FOREIGN KEY (booking_id) REFERENCES public.bookings(id);


--
-- Name: extra_expenses extra_expenses_builder_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.extra_expenses
    ADD CONSTRAINT extra_expenses_builder_id_fkey FOREIGN KEY (builder_id) REFERENCES public.builders(id);


--
-- Name: flats flats_builder_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.flats
    ADD CONSTRAINT flats_builder_id_fkey FOREIGN KEY (builder_id) REFERENCES public.builders(id);


--
-- Name: flats flats_building_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.flats
    ADD CONSTRAINT flats_building_id_fkey FOREIGN KEY (building_id) REFERENCES public.buildings(id);


--
-- Name: partner_flat_assignments partner_flat_assignments_building_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.partner_flat_assignments
    ADD CONSTRAINT partner_flat_assignments_building_id_fkey FOREIGN KEY (building_id) REFERENCES public.buildings(id) ON DELETE CASCADE;


--
-- Name: partner_flat_assignments partner_flat_assignments_flat_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.partner_flat_assignments
    ADD CONSTRAINT partner_flat_assignments_flat_id_fkey FOREIGN KEY (flat_id) REFERENCES public.flats(id) ON DELETE CASCADE;


--
-- Name: partner_flat_assignments partner_flat_assignments_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.partner_flat_assignments
    ADD CONSTRAINT partner_flat_assignments_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: payment_slab_templates payment_slab_templates_builder_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.payment_slab_templates
    ADD CONSTRAINT payment_slab_templates_builder_id_fkey FOREIGN KEY (builder_id) REFERENCES public.builders(id);


--
-- Name: payment_slab_templates payment_slab_templates_building_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.payment_slab_templates
    ADD CONSTRAINT payment_slab_templates_building_id_fkey FOREIGN KEY (building_id) REFERENCES public.buildings(id);


--
-- Name: platform_audit_log platform_audit_log_builder_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.platform_audit_log
    ADD CONSTRAINT platform_audit_log_builder_id_fkey FOREIGN KEY (builder_id) REFERENCES public.builders(id);


--
-- Name: receipts receipts_booking_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.receipts
    ADD CONSTRAINT receipts_booking_id_fkey FOREIGN KEY (booking_id) REFERENCES public.bookings(id);


--
-- Name: receipts receipts_builder_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.receipts
    ADD CONSTRAINT receipts_builder_id_fkey FOREIGN KEY (builder_id) REFERENCES public.builders(id);


--
-- Name: receipts receipts_deposit_bank_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.receipts
    ADD CONSTRAINT receipts_deposit_bank_id_fkey FOREIGN KEY (deposit_bank_id) REFERENCES public.banks(id);


--
-- Name: receipts receipts_payment_slab_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.receipts
    ADD CONSTRAINT receipts_payment_slab_id_fkey FOREIGN KEY (payment_slab_id) REFERENCES public.booking_payment_slabs(id);


--
-- Name: slabs slabs_builder_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.slabs
    ADD CONSTRAINT slabs_builder_id_fkey FOREIGN KEY (builder_id) REFERENCES public.builders(id);


--
-- Name: slabs slabs_building_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.slabs
    ADD CONSTRAINT slabs_building_id_fkey FOREIGN KEY (building_id) REFERENCES public.buildings(id);


--
-- Name: user_building_assignments user_building_assignments_building_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.user_building_assignments
    ADD CONSTRAINT user_building_assignments_building_id_fkey FOREIGN KEY (building_id) REFERENCES public.buildings(id) ON DELETE CASCADE;


--
-- Name: user_building_assignments user_building_assignments_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.user_building_assignments
    ADD CONSTRAINT user_building_assignments_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_building_vault_access user_building_vault_access_building_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.user_building_vault_access
    ADD CONSTRAINT user_building_vault_access_building_id_fkey FOREIGN KEY (building_id) REFERENCES public.buildings(id) ON DELETE CASCADE;


--
-- Name: user_building_vault_access user_building_vault_access_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.user_building_vault_access
    ADD CONSTRAINT user_building_vault_access_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: users users_builder_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_builder_id_fkey FOREIGN KEY (builder_id) REFERENCES public.builders(id);


--
-- Name: vault_booking_profiles vault_booking_profiles_booking_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.vault_booking_profiles
    ADD CONSTRAINT vault_booking_profiles_booking_id_fkey FOREIGN KEY (booking_id) REFERENCES public.bookings(id) ON DELETE CASCADE;


--
-- Name: vault_booking_profiles vault_booking_profiles_builder_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.vault_booking_profiles
    ADD CONSTRAINT vault_booking_profiles_builder_id_fkey FOREIGN KEY (builder_id) REFERENCES public.builders(id);


--
-- Name: vault_entries vault_entries_booking_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.vault_entries
    ADD CONSTRAINT vault_entries_booking_id_fkey FOREIGN KEY (booking_id) REFERENCES public.bookings(id);


--
-- Name: vault_entries vault_entries_builder_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.vault_entries
    ADD CONSTRAINT vault_entries_builder_id_fkey FOREIGN KEY (builder_id) REFERENCES public.builders(id);


--
-- Name: vault_entries vault_entries_payment_slab_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: floor21_user
--

ALTER TABLE ONLY public.vault_entries
    ADD CONSTRAINT vault_entries_payment_slab_id_fkey FOREIGN KEY (payment_slab_id) REFERENCES public.booking_payment_slabs(id);


--
-- PostgreSQL database dump complete
--

\unrestrict BfKI9W0j4VBnt2eTRsy5gJHzTa5VKCGY9jXNRVUsYNbgxne290aDaC7ZPUsEPTE

